{
  "dry_run": false,
  "version_variable": "setup.py:version",
  "commit_message_formats": {
    "build": "chore(build): build version {current_version}",
    "minor": "feat(version): bump to version {new_version}",
    "major": "feat(version): bump to version {new_version}"
  },
  "tag_format": "v{new_version}",
  "files": ["setup.py"]
}
